@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
}
.title-wrapper {
    margin-top: 150px !important;
}
.login-card {
    padding: 40px;
    min-width: 30rem;
}
.submit-login {
    background-color: #3990f0 !important;
    color: white !important;
}
.login-title {

}
.text-center {
    text-align: center;
}
.col-area {

}